<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    
    <!--
    <h1>Guia de perguntas!</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <!--Exibir valor de variável (<%= %>)
    <p>Nome: <%=nome%></p>
    <p>Linguagem Favorita: <%=lp%></p>
    <p>Empresa: <%=empresa%></p>
    

    <!--Criando uma condição no EJS
    <% if(msg == true) {%>
        <h3>Isso é uma mensagem de erro!</h3>
    <%} else { %>
        <h3>Nenhum erro!</h3>
    <% } %>



    <!--Estrutura de repetição no EJS
    <% produtos.forEach(function(produtos) { %>
        <hr>
        <p>Produto: <%=produtos.nome%></p> 
        <p>Preço: <%=produtos.preco%></p> 
    <% }) %> 

-->

</body>

</html>